
<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% seo %}
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/index.html">Home</a></li>
	        	<li><a href="/pdf_files/Shlomo_Shizgal_CV_2014.pdf">CV</a></li>
        		<li><a href="/design_blog">Shlomo's design blog</a></li>
			<li><a href="mailto:shlomo.shizgal@zoho.com">Contact me</a></li>
    		</ul>
		</nav>
    
    <div class="container">
      
    {{ content }}
    
    </div><!-- /.container -->
    
		<footer>
		</footer>
	</body>
</html>
